body{
	margin:0px;
}
.HeaderWrap{
	padding-left:15%;
	padding-right:10%;
	background-color:aliceblue;
}
ul{
	overflow:hidden;
	list-style-type:none;
	margin:0px;
	padding-left:0px;
}
ul>li, span>li{
	padding:8px;
	line-height:50px;
	
}
ul>li{
	float:left;
	cursor:pointer;
}
span>li{
	float:right;
}
li>img{
	height:71.5px;
	vertical-align:middle;
	width:auto;
}
li>h2{
	font-size:0.8em;
	vertical-align: middle;
}	
.SearchInput{
	position:relative;
	margin-top:20px;
	margin-bottom:20px;
}
.SearchInput span{
	display:inline-block;
	height:50px;
	width:400px;
	background-color:aquamarine;
	border-radius:15px;
}
.SearchInput input{
	padding-left:20px;
	height:50px;
	width:350px;
	border: none;
	border-radius:15px;
	background-color:aquamarine;
}
.SearchInput button{
	border:none;
	background:none;
}
.DropDown{
	position:absolute;
	left:-10000;
	border:0px;
	margin:0px;
	background:aliceblue;
}
.DropDown li{
	float:none;
	padding-left:16px;
	padding-right:16px;
	padding-top:0px;
	padding-bottom:0px;
}
.DropDown li h2{
	margin:0px;
}
.DropDown li:hover{
	border-left:solid 10px beige;
}
