

<html>
<head>
<style>
h2{
  text-align: center;
}

 td, th {
  text-align: center;
  padding: 10px 40px 20px 20px
  }

  .calendarBox{
    float:left; width: 100%
  }
  .calendar{
    float:left; width: 80%;
  }
  .wantToSeeList{
    position:fixed;
    float:right;
    top: 100px;
    right: 150px;
    width:10%;
  }
</style>
</head>

<body>
     <!-- calendar -->
     <div>

          <div>
            <h2>MY CALENDAR</h2>
          </div>

          <!--월별달력보기
          <div>
            <table>
              <caption>2016년</caption>
              <tr>
                <td><a href="">1월</a></td>
                <td><a href="">2월</a></td>
                <td><a href="">3월</a></td>
                <td><a href="">4월</a></td>
                <td><a href="">5월</a></td>
                <td><a href="">6월</a></td>
                <td><a href="">7월</a></td>
                <td><a href="">8월</a></td>
                <td><a href="">9월</a></td>
                <td><a href="">10월</a></td>
                <td><a href="">11월</a></td>
                <td><a href="">12월</a></td>
              </tr>
            </table>
          </div>
        -->

        <div>

          <div class=calendarBox>
            <p>
              <a href="calendar.html">CALENDAR</a>
              <a href="calendar_recruit.html"><strong>리크루팅</strong></a>
              <a href="calendar_event.html">행사</a>
          </p>
      		<table  class=calendar>
            <caption><strong>August 2017</strong></caption>
                  <thead>
                      <tr>
                          <th>SUN</th>
                          <th>MON</th>
                          <th>TUE</th>
                          <th>WED</th>
                          <th>THU</th>
                          <th>FRI</th>
                          <th>SAT</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>29</td>
                          <td>30</td>
                          <td>31</td>
                          <td onClick="clicked(this)">1</td>
                          <td onClick="clicked(this)">2</td>
                          <td onClick="clicked(this)">3</td>
                          <!-- 각 칸마다 크기 안변하게 -->
                          <td onClick="clicked(this)">4</td>
                      </tr>
                      <tr>
                          <td onClick="clicked(this)">5</td>
                          <td onClick="clicked(this)">6</td>
                          <td onClick="clicked(this)">7</td>
                          <td onClick="clicked(this)">8</td>
                          <td onClick="clicked(this)">9</td>
                          <td onClick="clicked(this)">10</td>
                          <td onClick="clicked(this)">11</td>
                      </tr>
                      <tr>
                          <td>12</td>
                          <td>13</td>
                          <td>14</td>
                          <td>15</td>
                          <td>16</td>
                          <td>17</td>
                          <td>18</td>
                      </tr>
                      <tr>
                          <td>19</td>
                          <td><strong>20</strong></td>
                          <td>21</td>
                          <td>22</td>
                          <td>23</td>
                          <td>24</td>
                          <td>25</td>
                      </tr>
                      <tr>
                          <td>26</td>
                          <td>27</td>
                          <td>28</td>
                          <td>29</td>
                          <td>1</td>
                          <td>2</td>
                          <td>3</td>
                      </tr>
                  </tbody>
              </table>
          </div>



          <!--관심동아리리스트-->
          <div class=wantToSeeList>
              <p><strong>♥</strong></p>
              <div>
              <label>
                <span><input type=checkbox></span>
                "전체"
              </label>
            </div>
            <div>
              <label>
                <span><input type=checkbox></span>
                "관심동아리 전체"
              </label>
            </div>
              <div>
              <label>
                <span><input type=checkbox></span>
                "하나와영"
              </label>
            </div>
            <div>
              <label>
                <span><input type=checkbox></span>
                "아라리요"
              </label>
            </div>
          </div>
          <!--관심동아리리스트-->



  </div>

</body>
</html>
